* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav__menu {
    width: 100%;
    height: 50px;
    background-color: silver;
}

.nav__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li {
    width: 100%;
    height: 100%;
    list-style: none;
    color: white;
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li:hover {
    font-weight: bold;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.mobile__button {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
}

.mobile__button span {
    width: 80%;
    height: 4px;
    background-color: cornflowerblue;
    position: relative;
    transition: background-color 300ms 100ms;
}

.mobile__button span::before, .mobile__button span::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: cornflowerblue;
    transition-duration: 300ms, 300ms;
    transition-delay: 300ms, 0ms;
}

.mobile__button span::before {
    top: -10px;
    transition-property: top, transform;
}

.mobile__button span::after {
    bottom: -10px;
    transition-property: bottom, transform;
}
.active .mobile__button span{
    background-color: transparent;
}
.active .mobile__button span::before{
    top: 0;
    transform: rotate(-45deg);
}
.active .mobile__button span::after{
    bottom: 0;
    transform: rotate(45deg);
}
.active .mobile__button span::before, .active .mobile__button span::after{
    transition-duration: 300ms, 300ms;
    transition-delay: 0ms, 300ms;
}