@media screen and (max-width: 600px) {
    .mobile__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__list {
        position: absolute;
        width: 100%;
        background-color: aquamarine;
        left: -150%;
        flex-direction: column;
        height: 90vh;
        top: 50px;
        transition: left 1000ms;
    }

    .active .nav__list {
        left: 0;
    }
}